*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 2000px;
}


a{
    text-decoration: none;
    color: rgb(0, 153, 255);
    display: block;
    padding: 20px 5px ;
    color: white;
} 

ul{
    list-style: none;
    font-family: 'Roboto', sans-serif;
    color: white;
    
    
}

.img1{
    width: 120px;
}

#chec{
    display: none;
}

.na1{
    display: block;
    width: 16%;
    height: 350px;
    background-color: black;
    left: -500px;
    position: absolute;
    margin-left: 220px;
    margin-top: 50px;
    
}

input[type="checkbox"]:checked ~ nav{
    transform: translatex(350px);
}



.p1{
    display: flex;
    background-color: black;
    width: 16%;
    height: 65px;
    margin-left: 70px;
    top: 0;
    left: 0;
    position: fixed;

}

.thead{
    font-family: 'Roboto', sans-serif;
    color: white;
    padding-top: 12px;
    margin-right: 40px;
}

a:hover{
    color: rgb(0, 153, 255);
}


.l2{
    margin-top: 3px;
}

.l3{
    margin-top: 3px;
}

.l4{
    margin-top: 3px;
}

.l5{
    margin-top: 3px;
}

.l6{
    margin-top: 3px;
}


.lab1{
    background-color: rgb(0, 153, 255);
    padding: 15px;
    position: absolute;


}

.pcimg{
    position: static;
}


.img2{

    display: flex;
    margin-top: -400px ;

}


#p11{
    position: fixed;
    left: 0;
    top: 0;
    width: 16%;
    padding: 9px 0;
    
}

.banner{
    width: 100%;
    height: 780px;
    background: url(imagens/HOMECSAIBA.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.banner img{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 300px;
    padding-left: 390px;

}

.ptit{
    color: white;
}


.pai5{
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: row;
    margin-top: -150px;
    
}


.fi1{
    margin-left: 200px;
}


.pt2t1{
    font-family: 'Roboto', sans-serif; 
    color: rgb(0, 153, 255);
    font-size: large;
    margin-top: -120px;
    margin-left: 580px;
}

.pt2t2{
    margin-top: 6px;
    font-family: 'Roboto', sans-serif;
    font-size: xx-large;
    margin-left: 370px;
}

.imgstar{
    margin-top: -40px;
    width: 35%;
}

.patd2{
    margin-left: 350px;
    font-size: xx-large;
    font-family: 'Roboto', sans-serif ;
    color: grey;
    margin-top: -300px;
    flex-wrap: nowrap;
}

.pf1{
    font-family: 'Poppins', sans-serif;
    color: rgb(4, 4, 77);
    
}

.resp1{
    font-family: Arial, Helvetica, sans-serif;
    color: grey;
}

.pf2{
    font-family:'Poppins', sans-serif;
    color: rgb(4, 4, 77);

}

.resp2{
    font-family: Arial, Helvetica, sans-serif;
    color: grey;
}

.pf3{
    font-family: 'Poppins', sans-serif;
    color: rgb(4, 4, 77);

}

.resp3{
    font-family: Arial, Helvetica, sans-serif;
    color: grey;
}

.pf4{
    font-family: 'Poppins', sans-serif;
    color: rgb(4, 4, 77);
}

.resp4{
    font-family: Arial, Helvetica, sans-serif;
    color: grey;
}

.pf5{
    font-family: 'Poppins', sans-serif;
    color: rgb(4, 4, 77);
}

.resp5{
    font-family: Arial, Helvetica, sans-serif;
    color: grey;
}

.divpp1{
    margin-top: 80px;
    margin-left: 180px;
    font-size: x-large;
}

.divrr1{
    margin-top: 5px;
    margin-left: 180px;
    font-size: larger;
}

.divpp2{
    margin-top: 10px;
    margin-left: 180px;
    font-size: x-large;
}

.divrr2{
    margin-top: 5px;
    margin-left: 180px;
    font-size: larger;
}

.divpp3{
    margin-top: 10px;
    margin-left: 180px;
    font-size: x-large;
}

.divrr3{
    margin-top: 5px;
    margin-left: 180px;
    font-size: larger;
}

.divpp4{
    margin-top: 10px;
    margin-left: 180px;
    font-size: x-large;
}

.divrr4{
    margin-top: 5px;
    margin-left: 180px;
    font-size: larger;
}

.divpp5{
    margin-top: 10px;
    margin-left: 180px;
    font-size: x-large;
}

.divrr5{
    margin-top: 5px;
    margin-left: 180px;
    font-size: larger;
}

.container1 {
    margin-left: 780px;
    width: 35%;
    background-color: grey;
  }



.frontend{
    margin-top: 10px;
    width: 95%; 
    background-color: rgb(4, 4, 77);
    color: rgb(252, 252, 252);
}

.dfront{
    font-family: 'Poppins', sans-serif;
    font-size: medium;
    color: rgb(0, 153, 255);

}

.divfront{
    margin-top: -310px;
    margin-left: 780px;
}

.divback{
    margin-top: 40px;
    margin-left: 780px;
}

.dback{
    font-family: 'Poppins', sans-serif;
    font-size: medium;
    color: rgb(0, 153, 255);
}

.container2{
    margin-left: 780px;
    width: 35%;
    background-color: grey;
}

.backend{
    margin-top: 10px;
    width: 97%; 
    background-color: rgb(4, 4, 77);
    color: rgb(252, 252, 252);
}

.divunity{
    margin-top: 40px;
    margin-left: 780px;
}

.dunity{
    font-family: 'Poppins', sans-serif;
    font-size: medium;
    color: rgb(0, 153, 255);
}

.container3{
    margin-left: 780px;
    width: 35%;
    background-color: grey;
}

.unity{
    margin-top: 10px;
    width: 85%; 
    background-color: rgb(4, 4, 77);
    color: rgb(252, 252, 252);
}

.divds{
    margin-top: 40px;
    margin-left: 780px;
}

.dd{
    font-family: 'Poppins', sans-serif;
    font-size: medium;
    color: rgb(0, 153, 255);
}

.container4{
    margin-left: 780px;
    width: 35%;
    background-color: grey;
}

.design{
    margin-top: 10px;
    width: 85%; 
    background-color: rgb(4, 4, 77);
    color: rgb(252, 252, 252);
}

.botaozinho{
    width: 30%;
    height: 70px;
    border: 2PX solid royalblue;
    border-radius: 10px;
    
}

.textolink{
    font-family: 'Poppings', sans-serif;
    color: royalblue;
}

.btcontato{
    margin-top: 80px;
    margin-left: 520px;
}



