*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 2000px;
}


a{
    text-decoration: none;
    color: rgb(0, 153, 255);
    display: block;
    padding: 20px 5px ;
    color: white;
} 

ul{
    list-style: none;
    font-family: 'Roboto', sans-serif;
    color: white;
    
    
}

.img1{
    width: 120px;
}

#chec{
    display: none;
}

.na1{
    display: block;
    width: 16%;
    height: 350px;
    background-color: black;
    left: -500px;
    position: absolute;
    margin-left: 220px;
    margin-top: 50px;
    
    
}

input[type="checkbox"]:checked ~ nav{
    transform: translatex(350px);
}



.p1{
    display: flex;
    background-color: black;
    width: 16%;
    height: 65px;
    margin-left: 70px;
    top: 0;
    left: 0;
    position: fixed;

}

.thead{
    font-family: 'Roboto', sans-serif;
    color: white;
    padding-top: 12px;
    margin-right: 40px;
}

a:hover{
    color: rgb(0, 153, 255);
}


.l2{
    margin-top: 3px;
}

.l3{
    margin-top: 3px;
}

.l4{
    margin-top: 3px;
}

.l5{
    margin-top: 3px;
}

.l6{
    margin-top: 3px;
}


.lab1{
    background-color: rgb(0, 153, 255);
    padding: 15px;
    position: absolute;


}

.pcimg{
    position: static;
}


.img2{

    display: flex;
    margin-top: -400px ;

}


#p11{
    position: fixed;
    left: 0;
    top: 0;
    width: 16%;
    padding: 9px 0;
    
}

.banner{
    width: 100%;
    height: 780px;
    background: url(imagens/HOMECSAIBA.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.banner img{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 300px;
    padding-left: 390px;

}

.ptit{
    color: white;
}


.pai5{
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: row;
    margin-top: -150px;
    
}


.fi1{
    margin-left: 200px;
}


.pt2t1{
    font-family: 'Roboto', sans-serif; 
    color: rgb(0, 153, 255);
    font-size: 20px;
    margin-top: -120px;
    margin-left: 580px;
}

.pt2t2{
    margin-top: 6px;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    margin-left: 320px;
}

.imgstar{
    margin-top: -40px;
    width: 35%;
}

.patd2{
    margin-left: 350px;
    font-size: xx-large;
    font-family: 'Roboto', sans-serif ;
    color: grey;
    margin-top: -300px;
    flex-wrap: nowrap;
}

.pf1{
    font-family: 'Poppins', sans-serif;
    color: rgb(4, 4, 77);
    
}

.resp1{
    font-family: Arial, Helvetica, sans-serif;
    color: grey;
}

.pf2{
    font-family:'Poppins', sans-serif;
    color: rgb(4, 4, 77);

}

.resp2{
    font-family: Arial, Helvetica, sans-serif;
    color: grey;
}

.pf3{
    font-family: 'Poppins', sans-serif;
    color: rgb(4, 4, 77);

}

.resp3{
    font-family: Arial, Helvetica, sans-serif;
    color: grey;
}

.pf4{
    font-family: 'Poppins', sans-serif;
    color: rgb(4, 4, 77);
}

.resp4{
    font-family: Arial, Helvetica, sans-serif;
    color: grey;
}

.pf5{
    font-family: 'Poppins', sans-serif;
    color: rgb(4, 4, 77);
}

.resp5{
    font-family: Arial, Helvetica, sans-serif;
    color: grey;
}

.divpp1{
    margin-top: 80px;
    margin-left: 180px;
    font-size: x-large;
}

.divrr1{
    margin-top: 5px;
    margin-left: 180px;
    font-size: larger;
}

.divpp2{
    margin-top: 10px;
    margin-left: 180px;
    font-size: x-large;
}

.divrr2{
    margin-top: 5px;
    margin-left: 180px;
    font-size: larger;
}

.divpp3{
    margin-top: 10px;
    margin-left: 180px;
    font-size: x-large;
}

.divrr3{
    margin-top: 5px;
    margin-left: 180px;
    font-size: larger;
}

.divpp4{
    margin-top: 10px;
    margin-left: 180px;
    font-size: x-large;
}

.divrr4{
    margin-top: 5px;
    margin-left: 180px;
    font-size: larger;
}

.divpp5{
    margin-top: 10px;
    margin-left: 180px;
    font-size: x-large;
}

.divrr5{
    margin-top: 5px;
    margin-left: 180px;
    font-size: larger;
}

.container1 {
    margin-left: 780px;
    width: 35%;
    background-color: grey;
  }



.frontend{
    margin-top: 10px;
    width: 95%; 
    background-color: rgb(4, 4, 77);
    color: rgb(252, 252, 252);
}

.dfront{
    font-family: 'Poppins', sans-serif;
    font-size: medium;
    color: rgb(0, 153, 255);

}

.divfront{
    margin-top: -310px;
    margin-left: 780px;
}

.divback{
    margin-top: 40px;
    margin-left: 780px;
}

.dback{
    font-family: 'Poppins', sans-serif;
    font-size: medium;
    color: rgb(0, 153, 255);
}

.container2{
    margin-left: 780px;
    width: 35%;
    background-color: grey;
}

.backend{
    margin-top: 10px;
    width: 97%; 
    background-color: rgb(4, 4, 77);
    color: rgb(252, 252, 252);
}

.divunity{
    margin-top: 40px;
    margin-left: 780px;
}

.dunity{
    font-family: 'Poppins', sans-serif;
    font-size: medium;
    color: rgb(0, 153, 255);
}

.container3{
    margin-left: 780px;
    width: 35%;
    background-color: grey;
}

.unity{
    margin-top: 10px;
    width: 85%; 
    background-color: rgb(4, 4, 77);
    color: rgb(252, 252, 252);
}

.divds{
    margin-top: 40px;
    margin-left: 780px;
}

.dd{
    font-family: 'Poppins', sans-serif;
    font-size: medium;
    color: rgb(0, 153, 255);
}

.container4{
    margin-left: 780px;
    width: 35%;
    background-color: grey;
}

.design{
    margin-top: 10px;
    width: 85%; 
    background-color: rgb(4, 4, 77);
    color: rgb(252, 252, 252);
}

.botaozinho{
    width: 30%;
    height: 70px;
    border: 2PX solid royalblue;
    border-radius: 10px;
    
}

.textolink{
    font-family: 'Poppings', sans-serif;
    color: royalblue;
}

.btcontato{
    margin-top: 80px;
    margin-left: 520px;
}


.backgroundpt3{
    margin-top: 50px;
    width: 100%;
    height: 780px;
    background-color: rgba(221, 221, 221, 0.76);
}

.imgmaleta{
    margin-top: -110px;
    margin-left: -40px;
}

.positionres{
    margin-top: -700px;
    margin-left: 590px;

}

.resumo{
    font-family: 'Roboto', sans-serif; 
    color: rgb(0, 153, 255);
    font-size: 20px;
}

.qualifc{
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
}

.positionmt{
    margin-top: 5px;
    margin-left: 480px;
}

.textosob{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: rgb(85, 80, 80);
}

.textmaleta{
    margin-top: -590px;
    margin-left: 440px;
    
}

.botaozinho2{
    width: 30%;
    height: 70px;
    border: 2PX solid royalblue;
    border-radius: 10px;
}

.positionport{
    margin-top: 220px;
}

.backgroundpt4{
    margin-top: 70px
    ;
    width: 100%;
    height: 780px;
    background-color: white;
}

.portf{
    
    font-family: 'Roboto', sans-serif; 
    color: rgb(0, 153, 255);
    font-size: 20px;
}

.positionport{
    margin-left: 580px;
}

.p02{
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    color: black;
}

.positionconf{
    margin-top: 10px;
    margin-left: 350px;
}

.overlay-container {
    position: relative;
    width: 40%;
    height: 300px;
  }

  .overlay-image {
    margin-top: 10px;
    padding-left: 120px;
    display: block;
    width: 120%;
    height: 300px;
    margin-left: 85px;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0; /* Inicialmente o overlay estará invisível */
    transition: opacity 0.3s ease; /* Adicionando uma transição suave */
    margin-left: 200px;
  }

  .overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    opacity: 1; /* O texto será inicialmente visível, mas a cor de fundo será transparente */
    margin-left: 220px;
    font-family: 'Poppins', sans-serif;
  }

  /* Efeito hover - Quando o mouse passar por cima */
  .overlay-container:hover .overlay {
    opacity: 1;
  }

  /* Efeito hover - Quando o mouse passar por cima */
  .overlay-container:hover .overlay-text {
    opacity: 1;
  }

  .overlay-container2 {
    position: relative;
    width: 40%;
    height: 300px;
    margin-left: 530px;
    margin-top: -310px;
  }

  .overlay-image2 {
    margin-top: 10px;
    padding-left: 120px;
    display: block;
    width: 120%;
    height: 300px;
    margin-left: 85px;
  }

  .overlay2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0; /* Inicialmente o overlay estará invisível */
    transition: opacity 0.3s ease; /* Adicionando uma transição suave */
    margin-left: 200px;
  }

  .overlay-text2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    opacity: 1; /* O texto será inicialmente visível, mas a cor de fundo será transparente */
    margin-left: 220px;
    font-family: 'Poppins', sans-serif;
  }

  /* Efeito hover - Quando o mouse passar por cima */
  .overlay-container2:hover .overlay2 {
    opacity: 1;
  }

  /* Efeito hover - Quando o mouse passar por cima */
  .overlay-container2:hover .overlay-text2 {
    opacity: 1;
  }


  .overlay-container3 {
    position: relative;
    width: 40%;
    height: 300px;
  }

  .overlay-image3 {
    margin-top: 10px;
    padding-left: 120px;
    display: block;
    width: 120%;
    height: 300px;
    margin-left: 85px;
  }

  .overlay3 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0; /* Inicialmente o overlay estará invisível */
    transition: opacity 0.3s ease; /* Adicionando uma transição suave */
    margin-left: 200px;
  }

  .overlay-text3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    opacity: 1; /* O texto será inicialmente visível, mas a cor de fundo será transparente */
    margin-left: 220px;
    font-family: 'Poppins', sans-serif;
  }

  /* Efeito hover - Quando o mouse passar por cima */
  .overlay-container3:hover .overlay3 {
    opacity: 1;
  }

  /* Efeito hover - Quando o mouse passar por cima */
  .overlay-container3:hover .overlay-text3 {
    opacity: 1;
  }


  .overlay-container4 {
    position: relative;
    width: 40%;
    height: 300px;
    margin-left: 530px;
    margin-top: -310px;
  }

  .overlay-image4 {
    margin-top: 10px;
    padding-left: 120px;
    display: block;
    width: 120%;
    height: 300px;
    margin-left: 85px;
  }

  .overlay4 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0; /* Inicialmente o overlay estará invisível */
    transition: opacity 0.3s ease; /* Adicionando uma transição suave */
    margin-left: 200px;
  }

  .overlay-text4 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    opacity: 1; /* O texto será inicialmente visível, mas a cor de fundo será transparente */
    margin-left: 220px;
    font-family: 'Poppins', sans-serif;
  }

  /* Efeito hover - Quando o mouse passar por cima */
  .overlay-container4:hover .overlay4 {
    opacity: 1;
  }

  /* Efeito hover - Quando o mouse passar por cima */
  .overlay-container:hover .overlay-text4 {
    opacity: 1;
  }

  .banner5{
    margin-top: 50px;
    width: 100%;
    height: 780px;
    background-image: url(imagens/FUNDOPT5.png);

  }

  .pdserv{
    margin-top: -750px;
    margin-left: 580px;
  }

  .tservc{
    font-family: 'Roboto', sans-serif; 
    color: rgb(0, 153, 255);
    font-size: 20px;
  }

  .positcm5{
    margin-left: 440px;
  }

  .portf2{
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    color: white;
  }

  .p1s5t1{
    color: gray;
    font-size: 16px;
  }

  .posis5d1{
    margin-top: 320px;
    margin-left: 140px;
  }

  .posis5d2{
    margin-top: 320px;
    margin-left: 540px;
    margin-top: -70px;
  }

  .p2s5t1{
    color: gray;
    font-size: 16px;
  }

.p3s5t3{
    color: gray;
    font-size: 16px;
}

.posis5d4{
    margin-left: 940px;
    margin-top: -70px;
}

.bs5-6anw{
    margin-top: 120px;
    background-image: url(imagens/verd1.png);
    width: 100%;
    height: 380px;
}

  










